/* Food Items Category Style */

/* Food Items Style */
div.rpress-element-title, input[type="button"], input[type="text"] {
	outline: none;
}
html body .rpress_fooditems_list .rpress_fooditem {
	clear: both;
}
html body .rpress_fooditems_list {
	position: relative;
}
a.rpress-popup {display: block;}
div.rpress_fooditems_list .rpress_fooditem {width: 100%;}
.fancybox-container{ z-index: 99999; }

div.rpress_fooditems_list .rpress_fooditem h3.rpress_fooditem_title {display: block; margin: 0;}
div.rpress_fooditems_list .rpress_fooditem .rpress_fooditem_buy_button {float: right;}
div.rpress_fooditems_list .rpress_fooditem {
	display: block;
	clear: both;
	margin: 6px 0px;
}
html body .rpress-errors-wrap {
	text-align: center;
	width: 90%;
	margin: 0 auto;
	padding: 6px;
	margin-bottom: 20px;
	background: #ac2925;
	color: #FFF;
}
html body h6.rpress-addon-category, html body div.food-item-list {width: 100%;}
html body .rpress-errors-wrap.enable {display: block; }
html body .rpress-errors-wrap.disabled{display: none;}
html body .rpress-delivery-time-wrap.preorder-enable, html body .rpress-pickup-time-wrap.preorder-enable {
	display: none;
}
html body .delivery-items-options .delivery-change {
	display: inline-block;
	text-align: right;
	cursor: pointer;
	font-size: 13px;
  font-weight: 600;
}

html body .datepicker.datepicker-dropdown { width: 24%; }
html body .ui-timepicker-wrapper {
	z-index: 999999 !important;
	width: 290px;
	text-align: center;
}
html body #rpressModal .modal-header button.close {
	background: #808080;
	opacity: 1;
	border-radius: 0;
	width: 23px;
	text-align: center;
	text-shadow: none;
	color: #FFF;
	padding: 0px;
	margin: 0;
}
html body .rpress-section ul {
	padding: 10px 0 0;
}
html body #rpressModal .modal-footer {overflow: hidden;}
html body #rpressModal .modal-header button.close:hover {
	background: #808080 !important;
}
html body #rpressModal .modal-body{
	max-height: 500px;
	overflow-y: scroll;
}
html body #rpressModal.rpress-delivery-options .modal-body {
	max-height: 100%;
	overflow-y: auto;
}
html body .datepicker-days .today.day {
	background: #c33332;
	color: #FFF;
}
.delivery-change{
	margin-bottom: -25px;
	font-weight: bold;
}


html body #rpressModal
 .nav-pills > li.active > a, html body #rpressModal .nav-pills > html body #rpressModal li.active > html body #rpressModal a:hover{
	margin-top: -2px;
    margin-bottom: -2px;
    margin-right: -2px;
    padding: 8px !important;
    margin-left: -2px;
    border-radius: 0px;
}
.btn.btn-block.btn-primary{
	border: none;
	margin-top: 20px;
}
.rpress-delivery-options ul#rpressdeliveryTab.nav > li > a{
	text-align: center;
	width: 145px;
	padding: 6px;
}
.rpress-delivery-wrap .rpress-store-closed-info {
	width: 95%;
	margin: 0 auto 10px;
	text-align: center;
}
.rpress-delivery-options ul#rpressdeliveryTab{
	display: inline-block;
	border: 2px solid #ccc;
	margin: 0;
}
html body .modal-backdrop.fade.in {z-index: 99999;}
html body div#rpressModal{z-index: 999999;}
html body div#rpressModal button.close {
	position: absolute;
	right: 11px;
	top: 15px;
}
html body .modal.rpress-delivery-options .modal-content {
	width: 360px;
	top: 90px;
}
html body .modal.rpress-delivery-options .modal-footer {
	display: none;
}
html body .pickup-time-text, html body .delivery-time-text {text-transform: capitalize;}

.delivery-settings-wrapper #rpress-allowed-hours {
	width: 100%;
}
.rpress-datepicker-days table {width: 100%;}
.rpress-tabs-wrapper {
	display: block;
	clear: both;
}
div.rpress-thumbnail-holder {
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
}
div.rpress_fooditems_list .rpress_fooditem:last-child {
	border-bottom: none;
}

.food-item-list label {
	font-weight: normal;
	display: inline-block;
}

.food-item-list {
	margin-bottom: 8px;
}

/* Food Items Cart Style */


div.food-item-list span.cat_price {
	float: right;
}
.rpress-popup-actions a.submit-fooditem-button, .rpress-popup-actions a.update-fooditem-button {
	cursor: pointer;
}
.rpress-close-button, .rpress-edit-from-cart {
	cursor: pointer;
}
.rpress-item-quantity-wrap {
	width: 50%;
	margin-top: 20px;
}
.rpress-item-quantity-wrap .qty {
	display: inline-block;
	width: 40%;
}
.rpress-item-quantity-wrap .qtyminus {
	display: inline-block;
	float: left;
}
.rpress-cart .rpress-special-instruction {
	font-size: 13px !important;
	display: block;
	margin-top: 5px;
	font-weight: bold;
}

.rpress-item-quantity-wrap .qtyplus {
	display: inline-block;
	float: right;
}
.rpress-cart-item-qty {
	padding-right: 10px;
	color: #20AC76;
}
.rpress_checkout_cart_item_qty {
	padding-right: 20px;
}
#rpress_checkout_cart_wrap .rpress_cart_item_name {
	width: 100%;
	padding: 4px 10px;
}
#rpress_checkout_cart_wrap .rpress_cart_total {padding: 10px;}
#rpress_checkout_cart_wrap .rpress_cart_amount {padding-top: 0px;}
#rpress_checkout_cart_wrap th {
	padding: 5px;
	border-top: none;
	border-bottom: none;
}
#rpress_checkout_cart_wrap .delivery-wrap {
	text-align: center;
	margin-top: 20px;
}
#rpress_checkout_cart_wrap .delivery-wrap span {
	font-weight: normal;
}
#rpress_checkout_cart_wrap .rpress_cart_subtotal_amount {padding: 0;}
#rpress_checkout_cart_wrap .rpress.item-order h6 {
	margin-bottom: 0px;
}
div.rpress-element-title {
	display: block;
	clear: both;
}
.rpress-element-title span {
	font-size: 12px;
	color: #a9a9a9;
	line-height: 16px;
	display: block;
	margin-top: -10px;
	margin-bottom: 20px;
}
.view-food-item-wrap div {
	margin-bottom: 10px;
}
.rpress_fooditems_list h5.rpress-cat {
    text-decoration: underline;
    width: 100%;
    margin-bottom: 20px;
    text-transform: capitalize;
    display: block;
    font-size: 17px;
}
#rpress-tab-content .delivery-address-input {text-align: left !important;}
div.rpress-tabs ul.tabs {
	list-style: none;
}
div.rpress-tabs ul.tabs li {
	float: left;
	display: inline-block;
	margin-right: 30px;
}

div.rpress-search-wrap {
	margin-bottom: 20px;
	display: block;
	clear: both;
}
.rpress_fooditems_list.sticky-live-search .rpress-live-search {
	position: fixed;
	width: 100%;
	z-index: 9999;
	top: 109px;
	max-width: calc(124rem / 3);
}

.rpress_fooditems_list.sticky-live-search div.rpress-search-wrap #rpress-food-search {
	box-shadow: 5px 4px 13px 2px #ccc;
}
div.rpress-search-wrap input[type="text"] {
	border: none;
	text-transform: initial;
	color: #666666;
	font-weight: 500;
	letter-spacing: 1px;
	border-bottom: 1px solid #ebedf3;
	padding: 0;
	font-size: 12px;
	height: 43px;
	line-height: 43px;
	width: 100%;
    box-shadow: 0px 1px 10px -3px #888888;
    border-radius: 4px;
}
a.rpress-order-time {text-align: left; display: block;}

.rpress-tabs-wrapper #rpress-tab-content {
	display: block;
	clear: both;
	overflow: hidden;
	width: 90%;
	margin: 0 auto;
}
div.rpress-search-wrap #rpress-food-search {
	background-image: url('../svg/search-icon.svg');
	background-repeat: no-repeat;
	background-size: 17px;
	background-position: 98% center;
	outline: none;
	padding: 6px 10px;
	width: 100% !important;
}
div.rpress-element-title.not-matched {
	display: none;
}
div.rpress-element-title.matched {
	display: block;
}
.delivery-wrap, .delivery-wrap select {
	width: 100%;
}
html body .delivery-options h3 {
	text-align: center;
	display: block;
	border-top: 1px solid #ccc;
	padding-top: 8px;
}
html body .rpress-open-hrs {
	display: block;
	padding: 0;
	margin: 0;
	margin-top: -20px;
	width: 100%;
}
html body #rpress-allowed-hours, html body .rpress_get_delivery_dates {
	border: 1px solid #ccc !important;
	padding: 0px 10px;
	width: 40%;
	background: #f9f9f9;
}
html body .pac-container.pac-logo {z-index: 9999999 !important;}
html body .rpress-location-wrapper span {
	display: block;
}

html body .rpress-delivery-location {
	width: 100%;
	border: 1px solid #ccc !important;
	padding: 0px 10px;
	background: #f9f9f9;
}
html body .rpress_get_delivery_dates {
	width: 100%;
}
.restro-instruction {
	font-weight: bold;
	display: inline-block;
	margin-top: 10px;
}
.rpress-cart span.rpress-cart-item-title {
	max-width: 47%;
	display: inline-block;
	font-size: 13px;
	position: relative;
	top: 0px;
	color: #404040;
    font-weight: 500;
    display: inline-block;
    width: 108px;
    white-space: nowrap;
    overflow: hidden !important;
    text-overflow: ellipsis;
}

#rpress_checkout_wrap  span.rpress-cart-item-title {width: 60%;}


.rpress-tabs div.rpress-Tabs-panel#tab-menu {
	width: 100%;
	display: block;
}
html body .entry-content {
	width: 100% !important;
	display: block !important;
}
div.tab-pane div.menu {
	margin-top: 20px;
}
div.nav.nav-tabs .nav-item.nav-link {
	margin-right: 10px;
}
div.rpress-filter-toggle {
	padding: 10px 15px;
	border-radius: 3px;
	cursor: pointer;
	margin-bottom: 20px;
	display: none;
	background: #FFFFFF;
	border: 1px solid #fdfdfd;
}
.rpress-filter-toggle-text {
	line-height: 20px;
	font-size: 16px;
	text-transform: capitalize;
	color: #9097a1;
	letter-spacing: 1px;
}
.rpress-categories-menu h6 {
	margin: 0 0 10px;
	padding: 0 0 0 22px;
}
ul.rpress-category-lists {
	list-style: none;
	margin: 0;
	padding: 0;
}
ul.rpress-category-lists .rpress-category-item {
	padding: 10px 0px 10px 0px ;
	font-size: 13px;
	color: #9c9c9c;
	text-transform: capitalize;
	text-align: left;
	list-style: none;
	border-bottom: 1px solid #9c9c9c2b;
}

.rpress-categories-menu h6 {
	background-image: url('../svg/restaurant.svg');
	background-repeat: no-repeat;
	background-size: 8%;
	background-position: 0px 2px;
	padding-top: 0px;
	padding-bottom: 0px;
}
#fooditem-details h6.rpress-addon-category, #fooditem-update-details h6.rpress-addon-category {
	margin: 0 0 5px 0;
	padding: 10px 0 10px 0;
}


.ui-timepicker-container.ui-timepicker-standard {
	z-index: 9999999 !important;
}

#rpress_checkout_wrap #rpress_checkout_cart td img {
	float: none;
	width: 22px;
}

.rpress_fooditem_inner .thumbnail-holder {
	float: left;
	margin-top: 4px;
}

.rpress-title-holder h3 {
	margin: 0;
}
.rpress_purchase_submit_wrapper {
	line-height: 50px;
}
.rpress_purchase_submit_wrapper a {
	border-radius: 20px;
	background-color: transparent !important;
}
.rpress-submit {
	font-size: 21px;
	font-weight: 500;
	line-height: 1;
}

.entry-content a:hover {
   -webkit-box-shadow: none !important;
}
.rpress-section .rpress-sidebar-cart-wrap {
	box-shadow: 0px 0px 2px 0px #ccc;
	-moz-box-shadow: 0px 0px 2px 0px #ccc;
	-webkit-box-shadow: 0px 0px 2px 0px #ccc;
	padding: 15px 15px 10px 15px;
}
.rpress-cart li {
   list-style: none;
}
.menu .pull-right h1 {
	text-align: center;
    color: black;
    font-weight: 500;
    margin-top: 25px;
}

.rpress-cart .delivery-opts label {
	display: inline-block;
	font-size: 13px;
	margin-left: 5px;
}
.rpress-cart .delivery-opts label[for=delivery] {
	margin-right: 12px;
}
html body .rpress_fooditem_inner {
	display: block;
	clear: both;
	overflow: hidden;
    border-bottom: 1px solid #ebedf3;
    padding: 0 0 17px 0;
    margin: 0 0 17px 0;
    width: 100%;
    position: relative;
}
.rpress-clear-cart {
	display: inline-block;
	font-size: 12px;
	float: right;
	position: relative;
	top: 5px;
}
.rpress-cart-number-of-items {
	clear:both;
	margin: 10px 0px;
	font-size: 13px;
	text-align: left;
	color: #333;
	display: block;
}


.rpress_purchase_submit_wrapper a {
	height: 27px;
	width: 27px;
}

.rpress-price-holder .rpress-add-to-cart {
	position: relative;
	width: 22px;
	height: 22px;
	padding: 0;
	margin: 0;
}


.rpress-cart {
	clear: both;
}
.rpress_total {
	padding-left: 4%;
}
.rpress-cart .rpress_empty_cart {
	font-size: 14px;
}
ul.rpress-cart span.cart-total {
	float: right;
	font-weight: 600;
	margin-right: 50px;
}
.cart_item .rpress_checkout {
	padding-left: 28%;
}
.rpress-sidebar-cart ul.addon-item-wrap, .rpress-sidebar-cart ul.rpress-cart {
	margin-left: 0px;
}
.rpress-sidebar-cart .addon-item-wrap li {
	margin-top: 20px;
}
.rpress-cart-meta.rpress_total {
	font-weight: 500;
}
ul.rpress-cart li.rpress-cart-item:nth-child(even) {
	background-color: #f2f2f2;
    padding-left: 8px;
    padding-top: 2px;
}
ul.rpress-cart li.rpress-cart-item:nth-child(odd) {
    padding-left: 8px;
}
ul.addon-item-wrap li.rpress-cart-item:nth-child(even) {
	background-color: inherit;
}
html body .rpress-section ul li.delivery-items-options {
	padding: 25px 0 10px 0;
}
.rpress-edit-from-cart{
	margin-left: 5px;
}
#rpress_checkout_wrap .rpress-cart .cart-action-wrap {
	float: none;
}
#rpress_checkout_wrap .rpress-cart .cart-action-wrap.addon-items {
	display: none;
}
.rpress-cart .cart-action-wrap {
	float: right;
	width: 16%;
	position: relative;
	top: 3px;
}
.rpress-cart .cart-action-wrap a {
	font-size: 12px;
}
.rpress-cart .cart-action-wrap .rpress-edit-from-cart:before {
	/* font-family: "Font Awesome 5 Free"; 
	content: "\f303"; */
}
.rpress-cart .cart-action-wrap .rpress-remove-from-cart:before {
	/* font-family: "Font Awesome 5 Free"; 
	content: "\f2ed"; */
}
.rpress-cart .cart-action-wrap .rpress-remove-from-cart, .rpress-cart .cart-action-wrap .rpress-edit-from-cart {
	background-repeat: no-repeat;
	background-size: 100%;
	background-position: 0px 0px;
	font-size: 14px;
	padding-top: 0px;
	font-weight: bold;
	display: inline-block;
}
.rpress-cart .cart-action-wrap .rpress-edit-from-cart {
	width: 13px;
	height: 15px;
}
.rpress-cart .cart-action-wrap .rpress-remove-from-cart {
	width: 11px;
	height: 15px;
	margin-left: 2px;
}
.rpress-cart li.rpress-cart-meta:first-child {
	margin-top: 10px;
}
.rpress.item-order a.rpress-clear-cart {
	font-weight: 600;
    font-size: 11px;
}
li.cart_item.empty{text-align:center;}
li.cart_item.empty:before{
	content: '';
	background-image: url(../svg/plate.png);
	background-repeat: no-repeat;
	background-size: 100%;
	display: block;
  width: 100px;
  height: 100px;
  margin: 16px auto;
}
span.rpress_empty_cart {
   	display: inline-block;
   }
.sticky-sidebar.cat-lists {
	/*border-right: 1px solid #e4e4e4;*/
	padding-right: 20px;
}
ul.rpress-category-lists li.rpress-category-item a {
	padding-right: 35px;
}
.rpress-category-link.nav-scroller-item.active:after {
	content: '';
    display: inline-block;
    width: 4px;
    height: 18px;
    float: right;
}
.rpress-cart .rpress_checkout {
	text-align: center;
}
.rpress-cart .rpress_checkout a {
	padding: 10px;
	display: block;
	border-radius: 3px;
	font-family: 'Montserrat', sans-serif;
	font-size: 12px;
	font-weight: 600;
	letter-spacing: 1px;
	line-height: normal;
	text-transform: uppercase;
	width: 100%;
	color: #ffffff;
}
.rpress-thumbnail-holder {
	width: 65px;
	height: 65px;
	vertical-align: top;
}
.rpress-thumbnail-holder, .rpress-title-holder {
	display: inline-block;
}
.rpress-thumbnail-holder img {
	border: 1px solid #ddd;
	border-radius: 2px;
	}
.rpress-thumbnail-holder + .rpress-title-holder {
	padding-left: 10px;
	width: -webkit-calc(100% - 170px);
	width: -moz-calc(100% - 170px);
	width: calc(100% - 170px);
}
.rpress-price-holder {
	top: 45%;
	position: absolute;
	right: 0px;
	transform: translateY(-50%);
	line-height: 0;
	display: block;
	margin-top: 0px;
	width: 18%;
}
/* Rpress Item Order */
#rpress_checkout_cart_wrap .rpress.item-order {border-bottom: none;}
.rpress.item-order {
	display: block;
	border-bottom: 1px solid #ebedf3;
}
.rpress.item-order h6 {
	font-size: 18px;
    padding-top: 0px;
    letter-spacing: 1px;
    font-weight: bold;
    display: inline-block;
    color: #404040;
    margin-bottom: 15px;
    display: block;
    text-align: center;
}
.rpress_purchase_submit_wrapper .rpress-add-to-cart-label {
	font-size: 20px;
	line-height: 25px;
	position: absolute;
	left: 4px;
	top: -2px;
}
.rpress_purchase_submit_wrapper a {
	width: 24px;
	height: 24px;
}
.rpress_purchase_submit_wrapper a.rpress-add-to-cart.rpress-has-js {
	top: -7px;
}
.rpress-price-holder span.price {
	top: 40%;
	position: absolute;
	font-size: 14px;
}
.food-title {
	font-size: 17px;
	font-weight: 500;
	margin-left: 7px;
}
.rpress_fooditem_inner .rpress_fooditem_excerpt p {
	font-size: 12px;
	color: #a9a9a9;
	display: block;
	line-height: 16px;
}
.rpress_fooditem_excerpt {
	display: block;
	margin-left: 7px;
	width: 90%;
}
.rpress-cart .cat_icon img {
	width: 16px;
	height: auto;
}
.rpress-cart .cart_icon img {
	width: 13px;
	height: auto;
}
.rpress_checkout_wrap .rpress-cart .remove_icon img {
	width: 13px;
}
#rpress_purchase_form #rpress-purchase-button, #rpress_purchase_form #rpress-user-login-submit input {
	padding: 9px 24px;
}
.rpress-checkout-button-actions {
	display: block;
	clear: both;
	overflow: hidden;
	margin-top: 20px;
}
.rpress-checkout-button-actions span {
	display: block;
	text-align: center;
	margin-bottom: 10px;
}
.rpress-checkout-button-actions a {
	border: 1px solid #ccc;
	text-align: center;
	padding: 4px 10px;
}
.rpress-cart .remove_icon img {
	width: 13px;
	height: auto;
	float: none;
}
.rpress-cart .order-icn img {
	width: 16px;
	height: auto;
}
.rpress-checkout-block {
	border: 1px solid #eee;
	padding: 10px;
	margin-bottom: 20px;
	display: block;
	clear: both;
	overflow: hidden;
}

.rpress-cart .cart_icon, .rpress-cart .order-icn {
  display: inline-block;
}
#nav-tab.nav.nav-tabs {
	width: 79%;
	float: right;
}
.rpress_fooditems_list .rpress_fooditem {
	margin-top: -9px;
}

.food-item-list input[type="radio"] {
	margin-right: 5px;
	position: relative;
	top: -2px;
}

.food-item-list input[type="radio"]:checked:after {
   width: 16px;
   height: 16px;
   top: 1px;
   left: -1px;
   position: relative;
   margin-right: 4px;
   background-color: #2d3138;
   content: '';
   display: inline-block;
   visibility: visible;
   border: 1px solid #2d3138 ;
}
.food-item-list input[type="radio"]:after {
   width: 16px;
   height: 16px;
   top: 1px;
   position: relative;
   margin-right: 4px;
   background-color: #FFF;
   content: '';
   display: inline-block;
   visibility: visible;
   border: 1px solid #2d3138;
   border-radius: 20px;
}

.view-food-item-wrap input[type="checkbox"] {
	background: #EEE;
	box-shadow: 0 0 0 0 #d4413c inset, 0 0 0 2px #666666 inset, 0 0 0 8px #EEE inset, 0 0 0 0 #ddd inset, 0 0 0 0 #ddd;
	padding: 2px;
	border-radius: 2px;
	display: inline-block;
	transition: all .2s;
	zoom: 1;
	margin-right: 4px;
}

.view-food-item-wrap input[type="checkbox"]:active {
	background: #ddd;
	box-shadow: 0 0 0 0 #d4413c inset, 0 0 0 2px #666666 inset, 0 0 0 0 #EEE inset, 0 0 0 8px #ddd inset, 0 0 0 4px #ddd;
}
.view-food-item-wrap input[type="checkbox"]:checked {
	background: #F9F9F9;
	box-shadow: 0 0 0 8px #2d3138 inset, 0 0 0 0 #666666 inset, 0 0 0 8px #EEE inset, 0 0 0 0 #ddd inset, 0 0 0 0 #ddd;
	content: url('../images/checkbox.png');
	position: relative;
	top: 2px;
}
.rpress-cart-item span {
	font-size: 15px;
}
input.pick {
	margin-left: 7px;
}
.rpress-open-hrs {
	display: inline-block;
	width: 37%;
}
.delivery-opts {
	display: inline-block;
}
.delivery-opts span.delMethod{
	text-transform: capitalize;
	font-size: 17px;
}
.delivery-opts span.delTime {
	text-transform: lowercase;
	font-size: 17px;
}
.ui-timepicker-standard a {
	font-size: 14px;
    margin-left: -22px;
}
.delivery-items-options h3.delivery-options-heading {
	text-align: left;
	font-size: 14px;
	font-weight: bold;
	margin-top: 30px;
}
.pull-right {
	padding-top: 10px;
}

input#rpress-allowed-hours {
    background: #f7f7f700;
}
section.fullwidth.nav {
	display: none;
    margin-bottom: 20px;
}
.row-top.update-bottom {
	border-top: 1px solid #d9dbe080;
	padding: 16px 12px 0px 30px;
	width: 100%;
	margin: 0 auto;
	position: absolute;
	background-color: #ffffff;
	left: 0;
	bottom: 14px;
}
.qty-button {
	border: 1px solid #d9dbe080;
	border-radius: 100px;
	width: 35%;
}
.rpress-section .rp-col-sm-3.left, .rpress-section .rp-col-sm-3.right {
	padding-left: 0px;
}
.rp-col-sm-3.cent {
	padding-right: 0px;
}
#rpress_checkout_user_info input[type="text"] , #rpress_checkout_addrs input[type="text"]  {
    border: 1px solid #bbb;
    line-height: 1.5;
    text-align: left;
}
#rpress_purchase_submit .rpress-submit, #rpress_login_submit, #rpress-purchase-button {
	padding: 5px 15px;
}
#rpress_purchase_form_wrap #rpress-purchase-button {
	margin-top: 15px;
}
#rpress_checkout_cart_form a.rpress-cart-saving-button {
    padding: 5px 15px;
    font-size: 16px;
    border-radius: 5px;
    width: 100%;
}
#rpress_checkout_cart_form .rpress_cart_remove_item_btn{
	float: right;
	position: relative;
	top: 7px;
	width: 10%;
}
#rpress_checkout_cart .rpress_cart_header_row th {
    padding: 15px;
    font-weight: 600;
}
.rpress_cart_item_price,
.rpress_cart_actions {
	text-align: center;
}
#rpress_checkout_cart td img {
	width: 40px;
}

#rpress_checkout_cart #item_thumbnail, #rpress_checkout_cart .tb-cart {display: inline-block;}

#rpress_checkout_form_wrap .rpress-payment-icons {
    height: 45px;
}
.rpress-cart .cart_icon {
	float: right;
	padding-left: 7px;
}
.rpress-cart .cart-item-quantity-wrap {
	width: 35%;
	display: inline-block;
	font-size: 13px;
	float: right;
	text-align: center;
	position: relative;
	top: 4px;
}
#rpress_checkout_cart_wrap .rpress-checkout-item-row {
	position: relative;
	width: 100%;
	margin-bottom: 10px;
}
#rpress_checkout_cart_form .rpress-cart .cart-item-quantity-wrap {
	float: none;
	top: 0px;
	width: 30%;
}
.rpress-cart .addon-item-wrap span.addon-item-price {
	width: 91px;
    text-align: left;
}
.rpress-cart .cart-item-quantity-wrap span {
	font-size: 13px;
	padding: 0;
}
.rpress-cart .rpress_subtotal, .rpress-cart .rpress_cart_tax, .rpress-cart .rpress-delivery-fee {
	font-weight: normal;
	font-size: 14px;
	font-style: normal;
	background: transparent;
	display: block;
	clear: both;
	overflow: hidden;
}
.rpress-cart .rpress_subtotal span, .rpress-cart .cart-delivery-fee, .rpress-cart .rpress_cart_tax span {
	float: right;
}
.rpress-cart .rpress_total {
    padding: 7px 2px 0px 8px;
    color: #404040;
    font-weight: 500;
    font-size: 15px;
    border-top: 1px solid #E9E9E9;
}
.rpress-category-item .active {
	font-weight: 500;
}
.rpress-cart .cart-item-quantity-wrap span.separator {
	padding: 0 2px;
	margin-right: 17px;
	color: #404040;
}
.rpress-cart .cart-item-quantity-wrap .qty-class {
	font-weight: 500;
	color: #404040;
}
ul.addon-item-wrap .rpress-cart-item-title {
	color: #8a8a8a;
	margin-left: 10px;
}
span.addon-item-price {
	float: right;
}
.rpress-section span.cart-total {
	margin-right: 0px;
}

.rpress-section .ui-menu-item a {
	font-size: 12px;
}
.cart_item.rpress_checkout {
	margin-top: 15px;
}

.rpress-cart .addon-item-wrap li.rpress-cart-item {
	margin-top: 0;
	padding-bottom: 0;
	border-bottom: none;
}
.sticky-cat {
    position: fixed;
    top: 15px;
}
.sticky-category {
	position: fixed;
    top: 31%;
}

div.rpress_fooditems_list.rp-col-md-5 {
	width: 46.666667%;
}
#rpress_user_history tr:nth-child(even) {
	background: #f8f8f8;
}
#rpress_user_history tr:nth-child(odd) {
	background: #ffffff;
}
#rpress_user_history th {
    background: #e4e4e4;
}

/* Checkout Page Style */


/* Scroll bar style */

.view-food-item-wrap {
	cursor: pointer;
	height: auto;
	position: relative;
	margin: 0px auto;
	overflow: hidden;
	padding: 0px;
	text-align: left;
	width: 100%;
}
table#rpress_purchase_receipt_products .rpress_purchase_receipt_product_name {
	font-weight: 600;
}
 /*=================== Style sheet for pop-up =======================
   ===================                        =======================*/
.qtyminus-style {
	font-weight: bold;
	padding: 15px 20px;
}
.qtyplus-style {
	font-weight: bold;
	padding: 15px 27px 15px 20px;
}
.qty-style {
	padding: 9px 6px;
	margin-bottom: 0px;
}
.press-popup-actions .md-4-mar-lft {
	margin-left: 10px;
	}
#fooditem-details {
	padding: 0px 16px;
}
.rpress-popup-actions .md-4-top {
	margin-top: 10px;
}
.rpress-popup-actions .bold {
	margin-left: 14px;
}
.rpress-popup-actions  {
	display: block;
	clear: both;
	overflow: hidden;
	padding: 0;
}
.rpress-popup-actions .rp-col-md-4 {
	padding: 0;
	height: 45px;
}
.rpress-popup-actions .qtyminus-style {
  color: #F00;
  font-size: 16px;
}
html body .rpress-popup-actions input.qty.qty-style {
	text-align: center;
	text-align: center;
	height: 43px;
	margin-top: 0;
	width: 100%;
	border-radius: unset;
	border: 1px #ecedef solid;
	border-top: 0;
	border-bottom: 0;
}
.rpress-popup-actions .submit-fooditem-button {
	font-size: 12px;
	letter-spacing: 0.72px;
	text-transform: uppercase;
	text-align: center;
	color: rgb(255, 255, 255);
	font-weight: 600;
	border-radius: 4px;
	padding: 12px 0px;
	width: 100%;
}
.update-fooditem-button {
	font-size: 12px;
	letter-spacing: 0.72px;
	text-transform: uppercase;
	text-align: center;
	height: 56px;
	background-color: #d4413c;
	color: rgb(255, 255, 255);
	font-weight: 600;
	border-radius: 28px;
	line-height: 54px;
	width: 61%;
	display: inline-block;
	margin-left: 10px;
}
.edit-pop-up-custom-button {
	margin-top: 0px;
}
.edit-pop-up-custom-button a {
	color: #ffffff;
}

div.rpress-popup-actions input[type="button"] {
	border-color: transparent;
	color: #2d3138 ;
	background-color: transparent ;
	font-size: 28px ;
	font-weight: normal ;
	padding: 0 ;
	box-shadow: none;
	height: 100%;
	width: 100%;
}

div.btn-count {
	border: 1px solid #d9dbe080;
	border-radius: 5px;
}
.clearfix:after, .container:after, .container-fluid:after,
.row:after, .btn-toolbar:after, .nav:after,
.navbar:after, .navbar-header:after, .navbar-collapse:after,
.pager:after, .panel-body:after, .modal-header:after, .modal-footer:after {
	clear: none !important;
}
.rpress-section input[type="radio"], .rpress-section input[type="checkbox"] {
	display: inline-block;
}

button:hover {
	background: #76767600 !important;
	color: #d4413c;
}
form#fooditem-details h6,
form#fooditem-update-details h6 {
	border-bottom: 1px solid rgba(217, 219, 224, 0.5);
	padding-bottom: 8px;
	font-weight: 600;
}
.view-food-item-wrap h1 {
	float: left;
	font-size: 25px;
	font-weight: 600;
	margin-left: 8px;
}

/*===================Edit pop-up===============
=================================================*/
#fooditem-update-details {
	padding: 0 16px;
}
.view-food-item-wrap .qtyplus{
	font-weight: bold;
	padding: 17px 27px 17px 21px;
}
.view-food-item-wrap .qtyminus {
	font-weight: bold;
  padding: 17px 20px;
}
.special-margin {
	margin-top: 10px;
}
.special-margin textarea,
.special-inst textarea {
	border: 1px solid #e4e4e4;
}
.special-margin a,
.special-inst a {
  font-weight: 500;
  margin-bottom: 8px;
  display: block;
}
#fooditem-details,
#fooditem-update-details {
	margin-bottom: -15px;
}
.RPressMinOrderWrap {display: none;}
#RPressMinOrder {
	width:400px;
	overflow:auto;
  padding : 30px 0px ;
  background : #FFFFFF ;
  position : relative ;
  color : #666;
}
#RPressMinOrder a {
	background: white;
  padding: 4px 4px;
	padding: 0px 5px;
	position: absolute;
	top: 0;
	right: 0;
	margin-right: 2px;
	border-radius: 50px;
}
.price-text-left {
	margin-left: 15px;
	margin-top: 5px;
}
.row-top {
	margin-top: 8px;
}
.edit-value {
	margin-left: 12px;
}
.md-4-mar-lft {
    margin-left:10px;
}
.md-12-top {
	margin-top: 10px;
}
.qty_plus_font{
     font-weight: bold !important;
}
.rpress-min-price-error {
	line-height: 20px;
	font-size: 14px;
}

/* Purchase Page */
form#rpress_purchase_form #rpress-purchase-button { margin-top: 20px; }



/*=========================css for responsive=====================
===================================================================*/
@media only screen and (max-width: 1024px) {

}

@media only screen and (max-width: 1024px) and (min-width: 992px) {
	.rp-col-md-3 {
  	width: 30%;
	}
}

@media only screen and (max-width: 991px) {
	div.btn-count {
		overflow: hidden;
		margin-bottom: 20px;
   }
  .rpress-popup-actions .submit-fooditem-button {
  	display: inline-block;
  }
}

@media only screen and (max-width: 768px) {
	html body .modal.rpress-delivery-options .modal-content {
		width: auto;
		top: 90px;
	}
	div.item-cart {
  	padding-bottom: 1px;
    margin-bottom: 40px;
  }
  ul.rpress-category-lists .rpress-category-item {
  	padding: 4px 10px 4px 0;
  }
  div.rpress-filter-toggle {
  	display: block;
  }
  .rpress-categories-menu h6 {
  	background-size: 6%;
  }
  div.rpress-search-wrap {
  	margin-bottom: 20px;
  }
  div.rpress-filter-wrapper {
  	display: none;
    padding: 0 15px;
  }
  div.rpress-filter-wrapper.active {
  	display: block;
  }
  div.rpress-title-holder h3 {
  	line-height: 17px;
  	text-align: left;
  }
  div.rpress-title-holder a.food-title {
  	font-size: 13px;
  }
  div.rpress-price-holder {
  	width: 28%;
  }
  .rpress-category-item a {
  	text-align: left;
  	font-size: 12px;
  }
  ul.rpress-list li {
    display: inline-block;
    border-color: #c33332;
    font-weight: 600;
    height: 50px;
    background: #fff!important;
    border-width: 0 0 5px;
    border-style: solid;
    padding: .85714286em 1.142857em !important;
	}
	ul.rpress-list .rpress-category-item {
		font-size: 15px;
	}
	section.fullwidth.nav {
		display: block;
		margin-left: -15px;
		margin-right: -15px;
	}
	.nav-scroller-wrapper {
	  position: relative;
	  overflow: hidden;
	  padding: 0 30px;
	}
  .nav-scroller {
    position: relative;
    overflow-x: auto;
    overflow-y: hidden;
    white-space: nowrap;
    font-size: 0;
    padding-bottom: 20px;
    margin-bottom: -20px;
  }

	.nav-scroller-content {
	  position: relative;
	  display: flex;
	  justify-content: space-around;
	  float: left;
	  width: min-content;
	  min-width: 100%;
	  transition: transform .4s ease-in-out;
	}
  .no-transition {
  	transition: none;
  }
  .nav-scroller-item {
    display: block;
    font-size: 1.125rem;
    text-align: center;
    padding: .5rem;
  }
  .nav-scroller-btn {
    position: absolute;
    top: 65px;
    padding-left: 4px;
    padding-right: 4px;
    font-size: 1.25rem;
    transition: opacity .3s;
    height: 46px;
    background-color: #ffffff !important;
    border-color: #337ab700 !important;
  }
  .nav-scroller-btn--left {
    left: 0;
  }
  .nav-scroller-btn--right {
    right: 0;
    margin-right: 11px;
  }
	.fullwidth {
	  padding: 15px 0;
	  margin: 15px 0;
	  background-color: #fff;
	}
	.rpress-term-list.rpress-left {
		width: 100%;
	}
	.scroll-class {
		width: 100% !important;
	}
	.btn-primary:hover {
		background-color: #ffffff !important;
	}
	.nav-scroller {
		overflow: hidden;
	  overflow-x: hidden;
	}
	.rpress-list {
		display: none;
	}
	.btn-primary {
		color: #efefef !important;
		font-size: 27px;
	}
	html body .rpress-tabs-wrapper button.btn-primary {
		font-size: 15px;
	}
	html body .datepicker-days > table {
		background: #FFF;
	}
	.nav-scroller-item.selected {
		border-bottom: 1px solid #c33332;
    font-weight: 600;
    border-width: 0 0 4px;
	}
	.btn-sm, .btn-group-sm > .btn {
		padding: 5px 4px !important;
	}
	.btn:active, .btn.active {
		color: #c33332 !important;
		box-shadow: inset 0 0px 0px rgba(0, 0, 0, .125) !important;
	}
	.nav-scroller-item:hover {
		border-bottom: 1px solid #ececec;
	  border-width: 0 0 4px;
	}
	.container.scroll-class {
		padding-right: 50px;
   	padding-left: 50px;
	}
	.fullwidth.nav {
		border: 1px solid #e7e7e7;
    box-shadow: 0px 0px 10px 1px #efefef;
	}
	button.nav-scroller-btn--left {
	  margin-left: 22px;
	}
	button.nav-scroller-btn--right {
		margin-right: 22px;
	}
	.sticky-cat {
		position: fixed !important;
		top: 104px !important;
		margin-left: -63px !important;
		z-index: 9;
		width: 100%;
		border-bottom: 1px solid #e7e7e7 !important;
		box-shadow: 0px 0px 0px 0px #efefef !important;
		border-top: 0 !important;
	}
	.sticky-cat button.nav-scroller-btn--left,
	.sticky-cat button.nav-scroller-btn--right {
	  margin-top: -56px;
    padding-bottom: 45px !important;
	}
	.nav-scroller-btn--left,
	.nav-scroller-btn--right {
	  padding-bottom: 43px !important;
	}
	.sticky-category {
	  position: unset !important;
	}
	.cat-lists, div.rpress_fooditems_list.rp-col-md-5 {
		width: 100% !important;
	}
}

@media only screen and (max-width: 625px) {
	.sticky-cat {
  	top: -15px !important;
	  margin-left: -51px !important;
  }
  html body #RPressMinOrder {
  	position : absolute ;
  	left : 8%;
  	top: 42%;
  	width: 85%;
	}
}
@media only screen and (max-width: 768px) {
	.view-food-item-wrap .rp-col-sm-3 {
  	width: 17%;
	}
}

@media only screen and (max-width: 425px) {
	input[type="text"] {
		width: 65% !important;
	}
	.rp-col-xs-3 {
	  width: 18%;
	}
	.view-food-item-wrap .rp-col-xs-3  {
	  width: 20%;
	}
	.view-food-item-wrap .rp-col-xs-4  {
		width: 28.333333%;
	}
	.sticky-cat {
		margin-left: -45px !important;
  }
}

@media only screen and (max-width: 375px) {
	input[type="text"] {
		width: 100% !important;
	}
	.qtyplus-style {
  	font-weight: bold !important;
    padding: 15px 20px 15px 20px !important;
	}
}

@media only screen and (max-width: 320px) {
	.qtyplus-style {
  	font-weight: bold !important;
    padding: 14px 21px 15px 19px !important;
	}
	.qty_plus_font{
    padding: 16px 20px !important;
	}
}

.vertical-alignment-helper {
    display:table;
    height: 100%;
    width: 100%;
}
.vertical-align-center {
    /* To center vertically */
    display: table-cell;
    vertical-align: middle;
}
.modal-content {
    /* Bootstrap sets the size of the modal in the modal-dialog class, we need to inherit it */
    width:inherit;
    height:inherit;
    /* To center horizontally */
    margin: 0 auto;
}
.rpress-delivery-options input.rpress-hrs {border: 1px solid #ccc; color: #555;}

html body.fancybox-active {padding-right: 0px; margin: 0 auto;}

html body .rpress-delivery-options.service-option-pickup ul#rpressdeliveryTab, html body .rpress-delivery-options.service-option-delivery ul#rpressdeliveryTab{display: none;}

/* Additional CSS for popup design */
.quantity::-webkit-inner-spin-button, 
.quantity::-webkit-outer-spin-button { 
  -webkit-appearance: none !important; 
  margin: 0 !important; 
}

.disable_click {
	pointer-events: none;
}
